name: Tests

on:
  push:
    branches: ["main", "staging"]
  pull_request:
    branches: ["main", "staging"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Install uv and dependencies
        run: |
          python -m pip install --upgrade uv
          uv venv
          uv add flake8 ruff pylint pytest

      - name: Lint with flake8
        run: |
          uv run flake8 . --exclude=.venv --count --select=E9,F63,F7,F82 --show-source --statistics
          uv run flake8 . --exclude=.venv --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics


      - name: Lint with ruff
        run: |
          uv run ruff check .
